/*----------------------
Responsive breakpoints
-----------------------*/
@mixin breakpoint ($value) {
  @if $value == 'phone' {
    @media only screen and (min-width : 320px) and (max-width : 767px) { @content; }
  }
  @if $value == 'phone-large' {
    @media only screen and (min-width : 460px) and (max-width : 767px) { @content; }
  }

  @else if $value == 'tablet' {
    @media only screen and (min-width: 768px) and (max-width: 1279px) { @content; }
  }

  @else if $value == 'desktop' {
    @media only screen and (min-width: 1280px) { @content }
  }

  @else {
    @media only screen and (max-width: $value) { @content; }
  }
}


/*----------------------
Rem font unit with px fallback and optional line height
-----------------------*/
@function parseVal($n) {
  @return $n / ($n * 0 + 1);
}
@mixin mds-font-size($font-size, $line-height: false) {

  font-size: $font-size;
  font-size: (parseVal($font-size) / 10) * 1rem;

  @if $line-height {
    line-height: $line-height;
  }
}
