html {
  box-sizing: border-box;
  font-size: $mds-base-font-size;
  height: 100%;
  width: 100%;

}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $mds-base-font-open-sans;
  color: $mds-color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @include mds-font-size(14px, $mds-base-line-height);
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0  10px
}

ul:not(.mds-custom-list) {
  margin: 0;
  padding: 0;

  li {

  }
}

.mds-custom-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  @include mds-font-size($mds-heading-size-1);
}

h2 {
  @include mds-font-size($mds-heading-size-2);
}

h3 {
  @include mds-font-size($mds-heading-size-3);
}

h4 {
  @include mds-font-size($mds-heading-size-4);
}

h5 {
  @include mds-font-size($mds-heading-size-5);
}

h6 {
  @include mds-font-size($mds-heading-size-6);
}
