//font variables
$mds-base-font-open-sans: 'Open Sans', sans-serif;
$mds-base-font-size: 62.5%;
$mds-base-line-height: 1.2;

//headings size
$mds-heading-size-1:  24px !default;
$mds-heading-size-2:  21px !default;
$mds-heading-size-3:  18px !default;
$mds-heading-size-4:  16px !default;
$mds-heading-size-5:  15px !default;
$mds-heading-size-6:  14px !default;