
/*#adminmenuback {*/
/*position: absolute!important;*/
/*}*/
/*.sticky-menu #adminmenuwrap {*/
/*position: absolute!important;*/
/*}*/

div[id^='mds_']
{
    display:none;
}

.option-tree-ui-media-wrap img
{
    max-height:200px!important;
    background: #bababa!important;
}
.widefat .column-order_title {
    width: 25%!important;
}
#order_line_items .item .display_meta
{
    display:none;
}
.mds-order-row-meta
{
    margin-bottom:15px;
}
.mds-order-row-meta h3
{
    margin:0;
    font-weight:bold;
    font-size:14px;
}
.mds-order-row-meta .mds-value
{
    box-sizing: border-box;
    padding-left:20px;
}

@media only screen and (min-width: 900px)
{

    .mds-left-60-wrap
    {
        float:left!important;
        width:60%!important;
        box-sizing: border-box;
        padding-right:20px;
    }
    .mds-right-40-wrap
    {
        float:right!important;
        width:40%!important;
        box-sizing: border-box;
    }
    .mds-33-wrap
    {
        float:left;
        width:33.3333%;
        padding-right:1.5%;
        padding-left:1.5%;
        box-sizing: border-box;
    }
    .mds-50-wrap
    {
        float:left!important;
        width:50%!important;
        padding-right:1.5%!important;
        padding-left:1.5%!important;
        box-sizing: border-box;
    }
    .format-settings {
        float:left;
    }

}

@media only screen and (max-width: 1400px) {

    .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li {
        background: #fafafa;
        border: 1px solid #ccc !important;
        border-width: 1px 1px 0px 1px !important;
        display: inline-block !important;
        margin: 0 0 0 3px !important;
        padding: 0 !important;
        outline: 0 !important;
        width: auto !important;
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
    }
    .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav {
        border-bottom: 1px solid #ccc!important;
        float: none!important;
        font-size: 12px !important;
        height: 30px!important;
        list-style: none!important;
        margin: 2px 0 0 0!important;
        padding: 0!important;
        width: 100%!important;
    }
    .ot-metabox-tabs.ui-tabs .ot-metabox-panels {
        border: 0!important;
        margin: 0!important;
        overflow: hidden!important;
        padding: 0!important;
        width: 100%!important;
    }
    .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li.ui-state-active a {
        color: black!important;
        outline: none!important;
        padding: 6px 12px 6px 12px !important;
    }
    .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li a {
        color: #21759b!important;
        display: block!important;
        line-height: 18px!important;
        outline: 0!important;
        padding: 6px 12px 5px 12px !important;
        text-decoration: none!important;
    }
}
